extends base

block content 
    form(method=POST) 
        input(type="email", name="email", required)
        input(type="text", name="username", required)
        input(type="password", name="password", required)
        input(type="text", name="name", required)
        input(type="text", name="location")
        input(type="submit", value="Join")